.TodoFilter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 20px;
}
.TodoFilter__mode {
  cursor: pointer;
}
.TodoFilter__mode--selected {
  color: #fff;
  background: black;
}
