<section class="singer_list">
  <app-my-module-title [title]="singerName"></app-my-module-title>
  <ul class="singer_list__list" #lazyLoadRoot>
    <li
      class="singer_list__item main_border_bottom"
      *ngFor="let item of singerListData"
    >
      <a [routerLink]="item.path" class="singer_list__link">
        <img
          class="singer_list__img lazy_image"
          #lazyImages
          src="assets/images/logo__grey.png"
          [attr.data-src]="item.imgUrl"
        />
        <div class="singer_list__name">{{ item.name }}</div>
      </a>
    </li>
  </ul>
</section>
