<div id="app" class="app" ref="app">
  <!-- <AppLoading/> -->
  <app-my-header class="app__header"></app-my-header>
  <div class="app__cont"><router-outlet></router-outlet></div>
  <audio
    [src]="player.song?.play_url"
    class="hidden"
    #audioEl
    loop
    (canplay)="player.togglePlay(true)"
  ></audio>
  <!-- <PlayerMed
      v-show="isPlayerMedShow&&$route.path!=='/player/max'"
      :class="isPlayerMedSmall?'app__player app__player--min':'app__player app__player--med'"
    /> -->
</div>
