@borderTheme: #e5e5e5;
html,
body {
  width: 100%;
  height: 100%;

  color: #333;
}
.arrow {
  width: 14px;
  height: 14px;

  border: 2px solid @borderTheme;
}
.arrow--left {
  transform: rotate(-45deg);

  border-right: none;
  border-bottom: none;
}
.arrow--right {
  transform: rotate(45deg);

  border-bottom: none;
  border-left: none;
}
.more_btn {
  position: relative;

  box-sizing: border-box;
  width: 24px;
  height: 24px;

  border: 2px solid @borderTheme;
  border-radius: 50%;
}
.more_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 8px;
  height: 8px;

  transform: translate(-50%, -65%) rotate(45deg);

  border-width: inherit;
  border-style: none;
  border-color: inherit;
  border-right-style: solid;
  border-bottom-style: solid;
}
.more_btn--up::before {
  transform: translate(-50%, -35%) rotate(45deg);

  border-style: none;
  border-top-style: solid;
  border-left-style: solid;
}
.main_box_shadow {
  box-shadow: 0 2px 5px 0 @borderTheme;
}
.main_border {
  border: 1px solid @borderTheme;
}
.main_border_bottom {
  border-bottom: 1px solid @borderTheme;
}
