html,
body {
  width: 100%;
  height: 100%;

  color: #333;
}
.arrow {
  width: 14px;
  height: 14px;

  border: 2px solid #e4e4e4;
}
.arrow--left {
  transform: rotate(-45deg);

  border-right: none;
  border-bottom: none;
}
.arrow--right {
  transform: rotate(45deg);

  border-bottom: none;
  border-left: none;
}
