@white:#fff;
@light-1-white:#fbfbfb;
@light-2-white:#e5e5e5;
@light-3-white:#ccc;
@white-to-black:#959595;
@brown-to-black:#333;
@almost-black:rgba(0,0,0,0.9);
@theme-color:#2ca2f9;
@red:#e80000;
@orange:#ff7200;
@yellow:#f8b300;